@use '../../../../scss/' as *;

.tabsUI {
    @include flex(center, center);
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 40px;

    &__tabs {
        display: flex;
        position: relative;
        max-width: 100%;

        .item {
            flex-shrink: 0;
            min-width: 80px;
            padding: 16px 20px 11px 20px;
            color: $inactive-color;
            border-color: transparent;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border: 5px solid transparent;
            cursor: pointer;
            transition: all 0.5s ease;

            &.active {
                color: $txt-color;
            }
        }

        .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            border-radius: 15px;
            background-color: $txt-color;
            transition: all 0.2s ease;
        }

        @include mobile {
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__tabContent {
        padding: 40px 0;
        text-align: center;

        @include mobile {
        }

        .pane {
            color: $txt-color;
            display: none;
        }

        .pane.active {
            display: block;
        }

        .pane h2 {
            color: $main-color;
            font-size: 24px;
            margin-bottom: 8px;
        }
    }
}