@use '../../../../scss/' as *;

.card {
    height: 100%;
    margin: 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 8px;

    @include tablet-smallPC {
        height: 50%;
    }

    @include mobile {
        margin-bottom: 20px;
        height: 30%;
    }

    &__container {
        @include flex(center, center);
        flex-direction: column;
        padding: 40px 0;

        .icon {
            margin: 40px 0 20px;
        }

        .heading {
            margin-bottom: 20px;
            font-size: 32px;
            line-height: 36px;
            font-weight: 400;
            color: $txt-color;
        }

        .desc {
            text-align: center;
            margin-bottom: 40px;
            font-size: 18px;
            font-weight: 400;
            color: $inactive-color;
        }
    }
}