@use '../../scss/' as *;

.notify {
    width: 100vw;
    height: 100vh;
    background: url("https://transformercaesar.s3.eu-north-1.amazonaws.com/Transformer/main_page/battle.jpg") center / cover no-repeat;

    & .btn {
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.5s ease;

        &:hover {
            cursor: pointer;
            color: #0d47a1;
        }
    }
}