$main-color: #eaff96;
$body-bg: #030303;
$header-color: rgb(15, 14, 14);
$inactive-color: #999999;
$txt-color: #fff;
$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$height-100: 100%;
$width-100: 100%;

$header-height: 3rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$tablet-width: 740px;
$normalResPC-width: 1024px;
$middleNormalResPC-width: 1113px;

// $font-family: "Montserrat", sans-serif;